.map {
    height: 100vh;
}

.icon {
    font-size: 16px;
}
  
:deep(.navigation-marker) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    transform-origin: center;
    transform: translate(-50%, -50%);

    img{
        transform: rotate(46deg);
    }
}

